/* Colour Pallete
coolors link: https://coolors.co/palette/006d77-83c5be-edf6f9-ffddd2-e29578

English Violet: #483A58
Ivory: #FFFFEA
Tangerine: #FFA69E
Cerulean Frost: #829CBC
Onyx: #3E3E3E

*/

style.css

/* Global Styles
------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



body {
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
    font-family: 'Inter', sans-serif;
    color: #3E3E3E;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 100px;
    line-height: 1;
    color: #FFA69E;
}

h2 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 45px;
    color: #FFA69E;
}

h3 {
    margin-bottom: 0;
}

/* Responsive Styles
------------------------------------------------*/

@media screen and (max-width:749px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }

    h2 {
        line-height: 1;
    }
}